<html>
    <body>
        <form method = "post" action = "/submit">
            <input type = "number" name = "age" placeholder="Enter age 49" required = "required">
            <input type = "number" name = "sex" placeholder="Enter sex 1 or 0" required = "required">
            <input type = "number" name = "cp" placeholder="Enter CP as 0" required = "required">
            <input type = "number" name = "trestbps" placeholder="Enter bps 130 " required = "required">
            <input type = "number" name = "chol" placeholder="Enter Chol 191" required = "required">
            <input type = "number" name = "fbs" placeholder="Enter Fbs 0" required = "required">
            <input type = "number" name = "restecg" placeholder="Enter ECG 1" required = "required">
            <input type = "number" name = "thalach" placeholder="Enter thalach 106" required = "required">
            <input type = "number" name = "exang" placeholder="Enter exang 1" required = "required">
            <input type = "number" name = "oldpeak" placeholder="Enter oldpeak 2.2" required = "required">
            <input type = "number" name = "slope" placeholder="Enter slope 1" required = "required">
            <input type = "number" name = "ca" placeholder="Enter CA 2" required = "required">
            <input type = "number" name = "thal" placeholder="Enter Thal 3" required = "required">
            <button>submit</button>
        </form>
    </body>
</html>